.background {
    background-color: bisque;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-bottom: 5%;   
    margin-left: 50px;
    margin-right: 50px;  
}

.headerContainer {
    flex: 1
}

.subHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin-left: 5%;
    margin-right: 5%; 
}

.search {
    display: inline-block;
    background: white;
    border: 1px;
    border-color: black;
    border-radius: 5;
}

.registerButton {
    display: inline-block;
    border: 10px;
    border-color: black;
    border-radius: 10;
    margin-right: 5px;
}

.categorias {
    display: inline-block;
    background: white;
    border: 10px;
    border-color: black;
    border-radius: 10;
    margin-right: 1%;
}

.horizontalLine {
    border-bottom: 5px;
    border-color: black;
    height: 5;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
}

.pelicula {
    border: 5px;
    border-color: black;
    border-radius: 5%;
    flex-wrap: wrap;
}

.peliculaTitulo {
    font-size: 30;
    font-weight: bold;
}

.datosPelicula {
    font-size: 20;
}

.listaPeliculas {
    text-align: center;
    
}

.grid {
    display: grid;
    grid-gap: 5%;
    margin-left: 5%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    background-color: bisque;
}

.body {
    background-color: bisque;
}

.peliculaButton {
    width: 75%;
}